appdirs==1.4.3
certifi==2018.1.18
Cython==0.23
docutils==0.13.1
packaging==16.8
psutil==5.0.1
Pygments==2.2.0
pyparsing==2.2.0
pyTelegramBotAPI==3.6.1
python-telegram-bot==7.0.1
requests==2.13.0
six==1.10.0
pymysql==1.0.2